.header {
    background-color: #740000;
    position: sticky;
    top: 0;
}
.logo {
    width: 30%;
    margin-left: 7em;
}

.content {
    line-height: 2rem;
    font-size: 1.2em;
    overflow-x: hidden;
    height: 660px;
}
   
.card {
    box-shadow: 2px 2px 4px 0 #353535;
    border-radius: 3px;
    width: 27em;
    height: auto;
    padding: 0 1em 3em 2em;
    margin: 2em 5em 5em 2em;
    background-color: #E3E3E3;
    font-family: 'Balthazar', serif;
    font-size: 10px;
}
.eventImage {
    width: 95%;
    border-radius: 3px;
    margin-top: 1em;
}

.title {
    margin-top: -0.5em;
    font-family: 'Balthazar', serif;
    font-size: 20px;
}

.bandInfo {
    font-family: 'Balthazar', serif;
    font-size: 13px;
    margin-top: -1em;
    margin-bottom: 2em;
    color: #4C4C4C;
}

.genre {
    margin-top: -2em;
    margin-bottom: 1em;
}

.usefulLinks {
    margin-bottom: -0.1em;
}

.icon {
    width: 7%;
}

.linkTitle {
    margin-left: 2.4em;
    margin-top: -3em;
    display: flex;
    font-size: 13px;
}

.eventDateLocation {
    margin-top: 5em;
    margin-bottom: 2em;
}

.location {
    float: left;
}

.iconLocation {
    width: 11%;
}

.locationText {
    margin-left: 2.4em;
    margin-top: -4.3em;
    display: flex;
    font-size: 13px;
    color: #4C4C4C;
    font-size: 15px;
}

.iconTime {
    margin-top: 2em;
    margin-right: 20em;
    width: 11%;
}

.timeText {
    margin-left: 2.4em;
    margin-top: -4em;
    font-size: 13px;
    color: #4C4C4C;
    font-size: 15px;
}

.navbar {
    background-color: rgb(152, 22, 22);
    padding: 30px 50px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

.link:first-of-type {
    margin-right: 32px;
}
   
.link {
    color: white;
    text-decoration: none;
    font-size: 14pt;
    font-weight: bold;
    margin-right: 30px;
}

.footer {
    background-color: #740000;
    padding-bottom: 1.5em;
    position: sticky;
    bottom: 0;
}

.footer .navbar-footer .link-text{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px;
}

.events-button {
    width: 8%;
    margin-bottom: -1.2em;
    margin-left: 0.7em;
}
.streams-button {
    width: 8%;
    margin-bottom: -1.1em;
    margin-left: 0.7em;
}
.inbox-button {
    width: 10%;
    margin-bottom: -1.4em;
    margin-left: 0.7em;
}
.forum-button {
    width: 8%;
    margin-bottom: -1.2em;
    margin-left: 0.7em;
}
.announcements-button {
    width: 8%;
    margin-bottom: -1.2em;
    margin-left: 0.7em;
}