<div class="header">
    <img class="logo" src="../../../assets/icons/Metalverse2.png">
  </div>
  
  <div class="content">
    <div class="bar">
      <input class="post-bar" placeholder="Add comment..." #commentInput>
    </div>
    <img class="post-button" src="../../../assets/icons/Post button.png" (click)="postComment()">
    <div class="card">
      <img class="rock-on" *ngIf="idPost && !rockedOnPost" src="../../../assets/icons/unrocked.png" (click)="increaseRockOnPost()">
      <img class="rock-on" *ngIf="idPost && rockedOnPost" src="../../../assets/icons/rocked.png" (click)="decreaseRockOnPost()">
      <h2 class="content-text">Comments for post with id {{ idPost }}</h2>
      <p *ngIf="post">{{ post.views }} views {{ post.rockOns }} rock-ons {{ post.comments.length }} comments</p>
    </div>
      <div *ngIf="commentsObs$ | async as comments">
        <div *ngFor="let comment of comments">
          <div class="card">
              <img class="rock-on" *ngIf="comment.id && !rockedOnMap[comment.id]" src="../../../assets/icons/unrocked.png" (click)="increaseRockOnComments(comment.id)">
              <img class="rock-on" *ngIf="comment.id && rockedOnMap[comment.id]" src="../../../assets/icons/rocked.png" (click)="decreaseRockOnComments(comment.id)">
              <p>@{{comment.userName}}</p>
              <p>{{comment.text}}</p>
              <p>{{comment.rockOns}} rock-ons</p>
          </div>
        </div>
      </div>
  </div>
  
  <div class="footer">
    <div class="navbar-footer"> 
        <a class="link-text" [routerLink]="['/events']">
          <img class="events-button" src="../../../assets/icons/Future Events.png">
        </a>
        <a class="link-text" [routerLink]="['/stream']">
          <img class="streams-button" src="../../../assets/icons/Streams.png">
        </a>
        <a class="link-text" [routerLink]="['/inbox']">
          <img class="inbox-button" src="../../../assets/icons/Inbox.png">
        </a>
        <a class="link-text" [routerLink]="['/forum']">
          <img class="forum-button" src="../../../assets/icons/Forum.png">
        </a>
        <a class="link-text" [routerLink]="['/announcements']">
          <img class="announcements-button" src="../../../assets/icons/Announcements.png">
        </a>
    </div>
</div>
