<div class="header">
    <img class="logo" src="../../../assets/icons/Metalverse2.png">
  </div>
  
  <div class="content">
    <div class="cardPost" *ngIf="post">
      <img class="rock-on" *ngIf="idPost && !rockedOnPost" src="../../../assets/icons/unrocked.png" (click)="increaseRockOnPost()">
      <img class="rock-on" *ngIf="idPost && rockedOnPost" src="../../../assets/icons/rocked.png" (click)="decreaseRockOnPost()">
      <p class="username"> @{{usernamePost }} </p>
      <h2 class="postTitle"> {{ post.title }} </h2>
      <p class="createdDate"> {{ dateCreatedPostText }} </p>
      <p class="description"> {{ post.description }} </p>
      <div class="postInfo">  
        <p class="views"> {{ post.views }} views</p>  
        <p class="rockOnNumbers"> {{ post.rockOns }} rock-ons </p>
        <p class="commentNumbers"> {{ post.comments.length }} comment </p>
    </div>
    </div>
    <div class="bar">
      <p class="commentText">Comments</p>
      <textarea class="post-bar" placeholder="Add comment..." #commentInput></textarea>
    </div>
    <img class="post-button" src="../../../assets/icons/Post button 2.png" (click)="postComment()">
      <div *ngIf="commentsObs$ | async as comments" class="commentSection">
        <div *ngFor="let comment of comments">
          <div class="cardComments">
              <img class="rock-on" *ngIf="comment.id && !rockedOnMap[comment.id]" src="../../../assets/icons/unrocked.png" (click)="increaseRockOnComments(comment.id)">
              <img class="rock-on" *ngIf="comment.id && rockedOnMap[comment.id]" src="../../../assets/icons/rocked.png" (click)="decreaseRockOnComments(comment.id)">
              <p class="username"> @{{ comment.userName }} </p>
              <div *ngIf="comment.id">
                <p class="postedDate" *ngIf="dateCreatedMapText[comment.id]"> {{ dateCreatedMapText[comment.id] }} </p>
              </div>
              <p class="text"> {{ comment.text }} </p>
              <p class="commRockOn"> {{ comment.rockOns }} rock-ons </p>
          </div>
        </div>
      </div>
  </div>
  
  <div class="footer">
    <div class="navbar-footer"> 
        <a class="link-text" [routerLink]="['/events']">
          <img class="events-button" src="../../../assets/icons/Future Events.png">
        </a>
        <a class="link-text" [routerLink]="['/stream']">
          <img class="streams-button" src="../../../assets/icons/Streams.png">
        </a>
        <a class="link-text" [routerLink]="['/inbox']">
          <img class="inbox-button" src="../../../assets/icons/Inbox.png">
        </a>
        <a class="link-text" [routerLink]="['/forum']">
          <img class="forum-button" src="../../../assets/icons/Forum.png">
        </a>
        <a class="link-text" [routerLink]="['/announcements']">
          <img class="announcements-button" src="../../../assets/icons/Announcements.png">
        </a>
    </div>
</div>
