.content {
    background-color: #CDCDCD;
    height: 800px;
}

.text {
    font-size: 35px;
    padding-left: 4em;
}

.credential-bar {
    margin-top: 1em;
    width: 18em;
    height: 1.7em;
    background-color: #2F2F2F;
    border: solid 2px #2F2F2f;
    border-radius: 4px;
    font-family: 'Balthazar', serif;
    font-size: 17px;
    color: #A8A8A8;
    margin-left: 2.5em;
}

::placeholder {
    display: block;
    color: #A8A8A8;
    font-size: 15px;
    margin-top: -10em;
    font-family: 'Balthazar', serif;
}

input:focus {
    outline: none !important;
    border: solid 2px #740000;
}

.dropdown {
    margin-left: 2.9em;
}

.dropdown-component {
    margin-top: -2.3em;
    margin-left: 7em;
}

.options {
    border: solid 2px #2F2F2f;
    border-radius: 4px;
    font-family: 'Balthazar', serif;
    background-color: #2F2F2F;
    color: #A8A8A8;
    font-size: 15px;
    width: 12em;
}

option {
    color: #A8A8A8;
    font-size: 12px;
}

.terms {
    margin-left: 3.1em; 
    margin-top: 2.5em;
    width: 20em;
}

.error {
    margin-left: 3.2em;
    color:#740000;
    font-size: 15px;
    height: 0.1px;
    margin-bottom: -1.05em;
}

.checkbox {
    accent-color: #2F2F2F;
}

.terms-text {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: -1.5em;
}
.register-button {
    margin-top: 7em;
    margin-left: 8.5em;
    width: 40%;
}

.kitty-img {
    margin-top: -5em;
    width: 35%;
}