<div class="header">
    <img class="logo" src="../../../assets/icons/Metalverse2.png">
</div>
  
<div class="content">
      <h2 class="content-text">Announcements</h2>
      <input class="search-bar" placeholder="Search..." #searchInput (keyup.enter)="searchAnnouncement()">
      <img class="post-button" *ngIf="enabled" [routerLink]="['/create-announcement']" src="../../../assets/icons/New ann button.png">
      <div *ngIf = "announcementsObs$ | async as announcements">
        <div *ngFor="let announcement of announcements">
          <div class="card" [routerLink]="['/announcements', announcement.id]">
            <img class="announcementImage" [src]="announcement.image">
            <h2 class="title"> {{ announcement.title }}   </h2>
          </div>
        </div>
      </div>
</div>
  
<div class="footer">
    <div class="navbar-footer"> 
        <a class="link-text" [routerLink]="['/events']">
          <img class="events-button" src="../../../assets/icons/Future Events.png">
        </a>
        <a class="link-text" [routerLink]="['/stream']">
          <img class="streams-button" src="../../../assets/icons/Streams.png">
        </a>
        <a class="link-text" [routerLink]="['/inbox']">
          <img class="inbox-button" src="../../../assets/icons/Inbox.png">
        </a>
        <a class="link-text" [routerLink]="['/forum']">
          <img class="forum-button" src="../../../assets/icons/Forum.png">
        </a>
        <a class="link-text" [routerLink]="['/announcements']">
          <img class="announcements-button" src="../../../assets/icons/Announcements.png">
        </a>
    </div>
</div>

