.login-image {
    width: 100%;
}

.content {
    background-color: #CDCDCD;
    height: 500px;
}

.logo {
    width: 90%;
    margin-left: 1em;
    margin-top: -1em;
}

.credential-bar {
    margin-top: 1em;
    width: 12em;
    height: 1em;
    background-color: #2F2F2f;
    border: solid 2px #2F2F2f;
    border-radius: 4px;
    font-family: 'Balthazar', serif;
    font-size: 15px;
    color: #A8A8A8;
    margin-left: 5em;
}

::placeholder {
    display: block;
    color: #A8A8A8;
    font-size: 12px;
    margin-top: -10em;
    font-family: 'Balthazar', serif;
}

input:focus {
    outline: none !important;
    border: solid 2px #740000;
}

.login-button {
    width: 20%;
    margin-top: 3em;
    margin-left: 7.5em;
}

.register-text {
    margin-top: 4.9em;
    margin-left: 4em;
    font-size: 15px;
}

.register-route {
    margin-top: -2em;
    margin-left: 13.2em;
    font-size: 15px;
    color: blue;
}

.error {
    margin-top: 1em;
    margin-left: 4.7em;
    margin-bottom: -1em;
    color:#740000;
    height: 1px;
}
