<img class="login-image" src="../../../assets/images/Login image.png">
<div class="content">
    <img class="logo" src="../../../assets/icons/Metalverse11.png">
    <input class="credential-bar" placeholder="Username">
    <input class="credential-bar" placeholder="Password">
    <p class="register-text">Don't have an account?</p>
    <p class="register-route" [routerLink]="['/register']">Register now</p>
    <div [ngSwitch]="userRole">
        <div class="login-button" *ngSwitchCase="'regular'">
            <img src="../../../assets/icons/Login button.png" [routerLink]="['/forum']">
        </div>
        <div class="login-button" *ngSwitchCase="'band member'">
            <img src="../../../assets/icons/Login button.png" [routerLink]="['/announcements']">
        </div>
        <div class="login-button" *ngSwitchCase="'event planner'">
            <img src="../../../assets/icons/Login button.png" [routerLink]="['/events']">
        </div>
        <div class="login-button" *ngSwitchCase="'manager'">
            <img src="../../../assets/icons/Login button.png" [routerLink]="['/announcements']">
        </div>
        <div class="login-button" *ngSwitchDefault>
            <img src="../../../assets/icons/Login button.png" [routerLink]="['/']">
        </div>
    </div>
</div>

