<img class="login-image" src="../../../assets/images/Login image.png">
<div class="content">
    <img class="logo" src="../../../assets/icons/Metalverse11.png">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <input class="credential-bar" type="email" id="username" name="username" [(ngModel)]="credentials.username" placeholder="Username" required>
        <input class="credential-bar" type="password" id="password" name="password" [(ngModel)]="credentials.password"  placeholder="Password" required>
        <p class="register-text">Don't have an account?</p>
        <p class="register-route" [routerLink]="['/register']">Register now</p>
        <div class="login-button">
            <button style="border: none; background-color: transparent" type="submit" [disabled]="!loginForm.valid">
                <img src="../../../assets/icons/Login button.png">
            </button>
        </div>
    </form>
</div>

