<div class="header">
    <img class="logo" src="../../../assets/icons/Metalverse2.png">
</div>

<div class="content">
    <img style="width:10%; margin: 1em 0 0 1em" src="../../../assets/icons/back-arrow.png" [routerLink]="['/events']">
    <h2 class="content-text">Create new event</h2>
    <input class="inputField" placeholder="Event title" #titleInput>
    <input class="inputFieldLeft" placeholder="Band country" #bandCountryInput>
    <input class="inputFieldRight" placeholder="Band genre" #bandGenreInput>
    <input class="inputField" placeholder="Facebook page" #fbInput>
    <input class="inputField" placeholder="Band wiki" #wikiInput>
    <input class="inputField" placeholder="Band page" #bandPageInput>
    <input class="inputField" placeholder="Ticket purchase website" #ticketInput>
    <input class="inputFieldLeft" placeholder="Country" #countryInput>
    <input class="inputFieldRight" placeholder="State" #stateInput>
    <input class="inputFieldLeft" placeholder="County" #countyInput>
    <input class="inputFieldRight" placeholder="City" #cityInput>
    <input class="inputField" placeholder="Venue name" #venueInput>
    <input class="inputField" placeholder="Time of the event" #timeInput>
    <div class="image-upload" align="right">
      <label for="img-upload">
        <img class="add-img" src="../../../assets/icons/Add image button.png">
      </label>
      <input id="img-upload" type="file" (change)="onFileSelected($event)"/>    
    </div>
    <img class="post" src="../../../assets/icons/Post button.png" [routerLink]="['/events']" (click)="onSaveEvent()">
    
</div>

<div class="footer">
    <div class="navbar-footer"> 
        <a class="link-text" routerLink="/events">
          <img class="events-button" src="../../../assets/icons/Future Events.png">
        </a>
        <a class="link-text" routerLink="/stream">
          <img class="streams-button" src="../../../assets/icons/Streams.png">
        </a>
        <a class="link-text" routerLink="/inbox">
          <img class="inbox-button" src="../../../assets/icons/Inbox.png">
        </a>
        <a class="link-text" routerLink="/forum">
          <img class="forum-button" src="../../../assets/icons/Forum.png">
        </a>
        <a class="link-text" routerLink="/announcements">
          <img class="announcements-button" src="../../../assets/icons/Announcements.png">
        </a>
    </div>
</div>