<div class="header">
    <img class="logo" src="../../../assets/icons/Metalverse2.png">
</div>
  
<div class="content">
      <h2 class="content-text">Rock & Metal Streams</h2>
      <input class="search-bar" placeholder="Search..." #searchInput (keyup.enter)="searchStream()">
      <div *ngIf="streamsObs$ | async as streams">
        <div *ngFor="let stream of streams">
          <div class="card" (click)="playStream(stream.id)">
            <h2 class="name"> {{ stream.name }}   </h2>
          </div>
        </div>
      </div>
</div>

<div class="player" *ngIf="playerService.isPlayerOpen && playerService.currentStream as currentStream">
  <div *ngIf="playerService.metadataMap[currentStream.id] as metadata" class="metadata">
    <img [src]="metadata.albumCover" class="albumCover">

    <div>
      <div class="info">
        <p>  {{ currentStream.name }} </p>
        <p class="songDetails"> {{ metadata.artist }} - {{ metadata.songTitle }} </p>
      </div>
  
      <button (click)="pauseStream(currentStream.id)" class="control" *ngIf="playerService.isPlaying">
        <img class="pause" src="../../../assets/icons/5683591.png">
        <audio [src]="currentStream.apiLink" controls hidden></audio>
      </button>
  
      <button (click)="playStream(currentStream.id)" class="control" *ngIf="!playerService.isPlaying">
        <img class="play" src="../../../assets/icons/play.png">
        <audio [src]="currentStream.apiLink" controls hidden></audio>
      </button>
  
      <button (click)="stopStream(currentStream.id)" class="control">
        <img class="stop" src="../../../assets/icons/stop_square_icon_2063051.png">
        <audio [src]="currentStream.apiLink" controls hidden></audio>
      </button>
    </div>
  </div>
</div>
  
<div class="footer">
  <div class="navbar-footer"> 
      <a class="link-text" [routerLink]="['/events']">
        <img class="events-button" src="../../../assets/icons/Future Events.png">
      </a>
      <a class="link-text" [routerLink]="['/stream']">
        <img class="streams-button" src="../../../assets/icons/Streams.png">
      </a>
      <a class="link-text" [routerLink]="['/inbox']">
        <img class="inbox-button" src="../../../assets/icons/Inbox.png">
      </a>
      <a class="link-text" [routerLink]="['/forum']">
        <img class="forum-button" src="../../../assets/icons/Forum.png">
      </a>
      <a class="link-text" [routerLink]="['/announcements']">
        <img class="announcements-button" src="../../../assets/icons/Announcements.png">
      </a>
  </div>
</div>
