.header {
    background-color: #740000;
    position: sticky;
    top: 0;
}
.logo {
    width: 30%;
    margin-left: 8em;
}

.content {
    background-color: #CDCDCD;
    line-height: 2rem;
    font-size: 1.2em;
    overflow-x: hidden;
    height: 720px;
}

.content-text {
    margin-left: 0.6em;
    color: #4C4C4C;
    font-family: 'Balthazar', serif;
    font-size: 2em;
}

.search-bar {
    margin-left: 1.3em;
    margin-top: 0.9em;
    width: 17em;
    height: 1.7em;
    background-color: #2F2F2f;
    border: solid 2px #2F2F2f;
    border-radius: 4px;
    color: #A8A8A8;
    font-size: 17px;
    font-family: 'Balthazar', serif;
}

::placeholder {
    color: #A8A8A8;
    font-size: 15px;
    font-family: 'Balthazar', serif;
}

input:focus {
    outline: none !important;
    border: solid 2px #740000;
}

.event-button {
    margin-top: 0.4em;
    margin-right: 1em;
    width: 12%;
    float: right;
}

.postId {
    padding-top: 1em;
}
.title {
    font-size: 20px;
    margin-top: -5px;
}
.eventDate {
    color: #4C4C4C;
    margin-top: -13px;
    font-size: 14px;
    margin-left: 0.1em;
    margin-bottom: -2em;
}

.card {
    box-shadow: 2px 2px 4px 0 #353535;
    border-radius: 3px;
    width: 36em;
    height: auto;
    padding: 0 1em 3em 2em;
    margin: 3em 5em 5em 2em;
    background-color: #E3E3E3;
    font-family: 'Balthazar', serif;
    font-size: 10px;
}

.eventImage {
    margin-top: 1em;
    width: 95%;
    border-radius: 3px;
}

.navbar {
    background-color: rgb(152, 22, 22);
    padding: 30px 50px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

.link:first-of-type {
    margin-right: 32px;
}
   
.link {
    color: white;
    text-decoration: none;
    font-size: 14pt;
    font-weight: bold;
    margin-right: 30px;
}

.footer {
    background-color: #740000;
    padding-bottom: 1.5em;
    position: sticky;
    bottom: 0;
}

.footer .navbar-footer .link-text{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 26px;
}

.events-button {
    width: 8%;
    margin-bottom: -1.4em;
    margin-left: 0.7em;
}
.streams-button {
    width: 8%;
    margin-bottom: -1.3em;
    margin-left: 0.7em;
}
.inbox-button {
    width: 10%;
    margin-bottom: -1.7em;
    margin-left: 0.7em;
}
.forum-button {
    width: 8%;
    margin-bottom: -1.4em;
    margin-left: 0.7em;
}
.announcements-button {
    width: 8%;
    margin-bottom: -1.4em;
    margin-left: 0.7em;
}