<div class="header">
    <img class="logo" src="../../../assets/icons/Metalverse2.png">
</div>
  
<div class="content">
    <h2 class="content-text">Announcement with id {{ idAnnouncement }}</h2>
    <div *ngIf="announcement">
      <div class="card">
          <p>user Id: {{announcement.userId}}</p>
          <p>{{announcement.title}}</p>
          <p>{{announcement.description}}</p>
      </div>
    </div>
</div>
  
<div class="footer">
    <div class="navbar-footer"> 
        <a class="link-text" [routerLink]="['/events']">
          <img class="events-button" src="../../../assets/icons/Future Events.png">
        </a>
        <a class="link-text" [routerLink]="['/stream']">
          <img class="streams-button" src="../../../assets/icons/Streams.png">
        </a>
        <a class="link-text" [routerLink]="['/inbox']">
          <img class="inbox-button" src="../../../assets/icons/Inbox.png">
        </a>
        <a class="link-text" [routerLink]="['/forum']">
          <img class="forum-button" src="../../../assets/icons/Forum.png">
        </a>
        <a class="link-text" [routerLink]="['/announcements']">
          <img class="announcements-button" src="../../../assets/icons/Announcements.png">
        </a>
    </div>
</div>