<div class="header">
    <img class="logo" src="../../../assets/icons/Metalverse2.png">
</div>

<div class="content">
    <img style="width:10%; margin: 1em 0 0 1em" src="../../../assets/icons/back-arrow.png" [routerLink]="['/forum']">
    <h2 class="content-text">Create new post</h2>
    <input class="title" placeholder="Post title" #titleInput>
    <textarea class="description" placeholder="Description" #descriptionInput></textarea>
    <img class="add-img" src="../../../assets/icons/Add image button.png">
    <img class="post" src="../../../assets/icons/Post button.png" [routerLink]="['/forum']" (click)="onSavePost()">
</div>

<div class="footer">
    <div class="navbar-footer"> 
        <a class="link-text" routerLink="/events">
          <img class="events-button" src="../../../assets/icons/Future Events.png">
        </a>
        <a class="link-text" routerLink="/stream">
          <img class="streams-button" src="../../../assets/icons/Streams.png">
        </a>
        <a class="link-text" routerLink="/inbox">
          <img class="inbox-button" src="../../../assets/icons/Inbox.png">
        </a>
        <a class="link-text" routerLink="/forum">
          <img class="forum-button" src="../../../assets/icons/Forum.png">
        </a>
        <a class="link-text" routerLink="/announcements">
          <img class="announcements-button" src="../../../assets/icons/Announcements.png">
        </a>
    </div>
</div>